<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Sjora Quest</title>
<link rel="stylesheet" type="text/css" href="css/sjoraquest.css">
</head>

<body>

	<section id="landing">
    	<h2 title="Mainkan Gamenya Menangkan Vouchernya"><img src="images/landing-title.png"></h2>
        <div id="landingLogo" class="logo"><img src="images/sjora-quest-logo.png"></div>
        <div class="goBtn"><a href="javascript:void(0)" onClick=""><img src="images/go-btn.png"></a></div> <!--call FB login here-->
        <div class="nestleLogo"><img src="images/nestle-logo.png"></div>
    </section>
    
	<script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/main.js"></script>
    
</body>
</html>
