<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Sjora Quest</title>
<link rel="stylesheet" type="text/css" href="css/fontAttach/stylesheet.css">
<link rel="stylesheet" type="text/css" href="css/sjoraquest.css">
<script src="js/jquery-2.1.4.min.js"></script>
</head>

<body>

	<section id="voucherUse">
        <div id="voucherLogo" class="logo"><img src="images/sjora-quest-logo.png"></div>
        <div id="voucherUse" class="contentBox">
        	<h3>Gunakan Voucher</h3>
            <p>
            	Apakah kamu yakin ingin menggunakan voucher ini?
                <br><br>
            </p>
            <a href="#" id="useVoucherBtn" class="defBtn">Ya</a>
            <br><br>
            <p>
            	Tutup jendela ini apabila ingin membatalkan
            </p>
            <div class="sjoraFusionLogo"><img src="images/sjora-fusion-logo.png"></div>
        </div>
    </section>
    
    <script src="js/tapMe.js"></script>
    <script src="js/main.js"></script>
    
</body>
</html>
